<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= pageTitle %></title>
    <% include ./partials/header.ejs %>
    <script type="text/javascript" src="scripts/home.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.css" />
    <script type="text/javascript" src="scripts/home.js"></script>
    <link type="text/css" rel="stylesheet" href="stylesheets/home.css" />
  </head>
  <body>
    <div id="home-page-tia-container">
      <img id="home-page-tia" src="/images/home-page-tia.png" class=".img-responsive .center-block"/>
    </div>
    <h1 class="text-center"><%= welcomeMessage %></h1>
    <div id="sign-in-container" class="not-shown">
      <!--<div class="row">-->
        <p class="alert alert-warning"><strong>You are not signed in. Please use any option below to sign in or register.</strong></p>        
      </div>
      <div id="firebaseui-auth-container"></div>
<!--
    </div>
-->
    <div id="signed-in-container" class="not-shown">
      <p>Redirecting you to your dashboard. If this doesn't happen automatically, please <a href="/users">click here</a>.</p>
    
    </div>
    <div id="logged-in-container" class="not-shown">
      <p>Redirecting you to your dashboard. If this doesn't happen automatically, please <a href="users/">click here</a>.</p>
    </div>
  </body>
</html>