<!doctype html>
<html>
  <head>
    <% include ./partials/header.ejs %>
  </head>
  <body>
    <nav>
      <button id="sign-out">Sign out</button>
      <p id="sign-out-status"></p>
    </nav>
    <div id="wrapper">
      <aside>
      </aside>
      <main>
        <div id="">
          <p id="">Please specify your search in the field below.</p>
          <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">Profile</a></li>
            <li role="presentation"><a href="#">Messages</a></li>
          </ul>
        </div>
        <div id="search-results-container"></div>
      </main>
    </div>
  </body>
</html>
