<!doctype html>
<html>
  <head>
    <% include ./partials/header.ejs %>
    <script src="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.css" />
    <script type="text/javascript" src="/scripts/user.js"></script>
  </head>
  <body>
    <nav>
      <button id="sign-out">Sign out</button>
      <p id="sign-out-status"></p>
    </nav>
    <div id="wrapper">
      <aside>
        <button id="create-document">Create Document</button>
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </aside>
      <main>
        <div id="no-docs-msg-container">
          <p id="no-docs-msg">You do not have any existing documents. <a href="/createDocument">Click here</a> to create one.</p>          
        </div>
      </main>
    </div>
  </body>
</html>
