<!doctype html>
<html>
  <head>
    <% include ./partials/header.ejs %>
    <script src="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.css" />
    <script type="text/javascript" src="/scripts/user.js"></script>
  </head>
  <body>
    
    <button id="sign-out">Sign out</button>
    <p id="sign-out-status"></p>
  </body>
</html>
