<!doctype html>
<html>
  <head>
    <% include ./partials/header.ejs %>
    <script src="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.css" />
    <script type="text/javascript" src="/scripts/user.js"></script>
  </head>
  <body class="not-shown">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
          <li>
            <button id="create-document" class="btn btn-success navbar-btn">Create Document</button>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <button id="sign-out" class="btn btn-default navbar-btn">Sign out</button>
          </li>
          <li>
            <p id="sign-out-status"></p>
          </li>
        </ul>
      </div>
    </nav>
    <div id="wrapper" class="row">
      <aside class="col-md-2">
        <br>
        <ul class="nav nav-pills nav-stacked">
          <li><a href="/users">Dashboard</a></li>
          <li><a href="/createDocument">Create Document</a></li>
          <li><a href="/search">Search</a></li>
        </ul>
      </aside>
      <main class="col-md-8">
        <div id="no-docs-msg-container">
          <p id="no-docs-msg">You do not have any existing documents. <a href="/createDocument">Click here</a> to create one.</p> 
        </div>
      </main>
    </div>
  </body>
</html>
