@import url(http://fonts.googleapis.com/css?family=Roboto:100);

/* Styles for the section on signing in with a username and password. */
/*.flat-form {
  position: relative;
  width: 390px;
  margin: 25px auto;
  padding-bottom: 2em;
  background: #F2F2F2;
  color: #444444;
  font-family: 'Roboto';
}

.flat-form .tabs {
  display: block;
  position: relative;
  width: 100%;
  height: 40px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style-type: none;
}

.flat-form .tabs li {
  display: block;
  margin: 0;
  padding: 0;
  float: left;
}

.flat-form .tabs li a {
  display: block;
  background: #f2f2f2;
  color: #444444;
  text-decoration: none;
  font-size: 16px;
  float: left;
  padding: 12px 22px;
}

.flat-form .tabs li a.active {
  background: #3359df;
  color: #f2f2f2;
  border-right: none;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.flat-form .tabs li a:hover {
  background: #9999ff;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.flat-form .tabs li:last-child a {
  text-align: center;
  width: 174px;
  padding-left: 0;
  padding-right: 0;
  border-right: none;
}
.flat-form .form-action {
  padding: 0 20px;
  position: relative;
}
.flat-form h1 {
  font-size: 42px;
  padding-bottom: 10px;
}
.flat-form p {
  font-size: 12px;
  padding-bottom: 10px;
  line-height: 25px;
}
.flat-form a {
  color: #3359df;
  text-decoration: none;
}
.flat-form a:hover {
  text-decoration: underline;
}
.flat-form form {
  padding-right: 20px !important;
}
.flat-form .form-action form ul {
  -webkit-padding-start: 0;
  padding-left: 0;
  padding-start: 0;
}

.flat-form form input[type=email],
.flat-form form input[type=password], 
.flat-form form input[type=text] {
  background: #fff;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 15px;
  box-sizing: border-box;
  outline: none;
  border: none;
  color: #3359DF;
  font-family: 'Roboto';
}
.flat-form form input[type=button] {
  border: none;
  display: inline-block;
  width: 80px;
  height: 40px;
  margin-right: 1em;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 2px 3px 1px #999999, -2px -1px 2px #aaaaaa;
  -webkit-box-shadow: 2px 3px 1px #999999, -2px -1px 2px #aaaaaa;
  box-shadow: 2px 3px 1px #999999, -2px -1px 2px #aaaaaa;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.flat-form form input[type=button]:hover {
  opacity: 0.8;
  -moz-box-shadow: 0 3px 1px #237bb2;
  -webkit-box-shadow: 0 3px 1px #237bb2;
  box-shadow: 0 3px 1px #237bb2;
}
.flat-form form input[type=button]:active {
  background: #136899;
  color: #fff;
  @include box-shadow( 0 3px 1px #0f608c );
}

.flat-form form .desired-action-btn {
  background: #3359df;
  color: #ffffff;
}
.flat-form form input::-webkit-input-placeholder {
  color: #3359DF;
}
.flat-form form input:-moz-placeholder {
  color: #3359DF;
}
.flat-form form input::-moz-placeholder {
  color: #3359DF;
}
.flat-form form input:-ms-input-placeholder {
  color: #3359DF;
}
.flat-form .show {
  display: block;
}
.flat-form .hide {
  display: none;
}
*/
