body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

ul li {
  list-style: none;
}

a {
  color: #00b7ff;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}

.error-msg {
  color: #ff2222;
}

.inline-img {
  display: inline-block;
  vertical-align: bottom;
}

.desired-action-btn {
  background: #3359df;
  color: #ffffff;
}
